<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
<h2>Расписание</h2>
<table>
    <tr>
        <th>Курс</th>
        <th>Дата</th>
        <th>Время</th>
        <th>Аудитория</th>
        {% if user.user_type != 'student' %}
            <th>Действия</th>
        {% endif %}
    </tr>
    {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.course.name }}</td>
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.time }}</td>
            <td>{{ schedule.room }}</td>
            {% if user.user_type == 'teacher' %}
                <td><a href="{% url 'mark_attendance' schedule.id %}">Отметить посещения</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
